.toolbar {
  width: 600px;
  height: 40px;
  padding: 8px;
  background-color: lightblue;
  box-sizing: border-box;
  border-radius: 7px;
  margin-bottom: 5px;
}

.toolbar button {
  height: 24px;
  border: 2px solid black;
  cursor: pointer;
  background-color: white;
}

.toolbar button:hover {
  background-color: rgb(119, 198, 201);
}

.editor {
  width: 600px;
  height: 600px;
  border: 2px solid rgb(173, 173, 173);
  box-sizing: border-box;
  border-radius: 7px;
  outline: none;
  padding: 16px;
  font-size: 12px;
}